*{
    background-color:blueviolet;
}
#one{
font-size:100px;
font-style: italic;
margin:5px;
width: 1200px;
background-color:bisque;
background-size: c0ntain;
background-size:
}
#Home{
    font-size: xx-large;
    text-align: center;
}
#AboutME{
    font-size: xx-large;
    text-align:center;
}
h1{
    text-align: center;
    font-size: 150px;
    padding-right: 10px;
}